body{
	margin: 0 auto;
	background-image: url(library.jpg);
	background-repeat: no-repeat;
	background-size: 100% 720px;
}
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(100, 100, 100);
	margin-top: 150px;
	opacity: 0.9;
}
.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
	margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
	height: 30px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff; 
}
.s{
	width: 80px;
	height: 40px;
	font-size: 18px;
	background: #0000ff;
	border-color: green;
	border-radius: 4px;
	color: white;
}
h2{
border-color: green;}