<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Library Management</display-name>
  <welcome-file-list>
    <welcome-file>LogIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.Library.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sinup</servlet-name>
    <servlet-class>com.Library.servlet.SinUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sinup</servlet-name>
    <url-pattern>/sinupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addstudent</servlet-name>
    <servlet-class>com.Library.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudent</servlet-name>
    <url-pattern>/addstudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addfaculty</servlet-name>
    <servlet-class>com.Library.servlet.AddFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfaculty</servlet-name>
    <url-pattern>/addfacultyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addbook</servlet-name>
    <servlet-class>com.Library.servlet.BookEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbook</servlet-name>
    <url-pattern>/addbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issuebook</servlet-name>
    <servlet-class>com.Library.servlet.BookIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issuebook</servlet-name>
    <url-pattern>/issuebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validation</servlet-name>
    <servlet-class>com.Library.servlet.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validation</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validation1</servlet-name>
    <servlet-class>com.Library.servlet.ValidationReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validation1</servlet-name>
    <url-pattern>/validation1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookreturn</servlet-name>
    <servlet-class>com.Library.servlet.BookReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookreturn</servlet-name>
    <url-pattern>/returnbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mail</servlet-name>
    <servlet-class>com.Library.mail.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mailservlet</url-pattern>
  </servlet-mapping>
</web-app>